<%= form_with(model: like) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :user_id %>
    <%= form.hidden_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit "Like", class: "btn btn-primary" %>
  </div>
<% end %>
