<% if @posts.empty? && !Current.user %>
  <div class="container">
    <div class="row justify-content-center vh-100 align-content-center">
      <div class="col-12 col-md-6">
        <div class="m-3 text-center">
          <% @user = User.new %>
          <%= render "registrations/signupform", user: @user %>
          
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container-fluid"> 
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center">  
    <% if Current.user %>
      <%= render "form", post: @post %>
    <% end %> 
      <%= render "card", post: @post %>  
    </div>
  </div>
</div>
              