// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav_avatar {
  border-radius: 54px;
  border: 5px solid black;
  width: 34px;
  height: 34px;
}

.post_avatar {
  max-width: 50px;
  border-radius: 50%;
  border: 5px solid black;
  height: 6em;
  width: 6em;
  object-fit: fill;
}

.align_left {
  text-align: left;
  padding: 15px;
}

.float_right {
  float: right;
  padding-top: 50px;
  padding-right: 61%;
}
