// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav_avatar {
  border-radius: 54px;
  border: 5px solid black;
  height: 54px;
  margin: 5px;
}

.post_avatar {
  border-radius: 54px;
  border: 5px solid black;
  height: 100px;
  margin: 10px;
}
